/*variaveis*/

:root {
    --azulClaro: #a3cef1;
    --azulMedio: #39637F;
    --azulEscuro: #14283e;
    --cinza: #e7ecef;
    --preto: black;
    --branco: white;
}
/*style*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--azulClaro);
}

a:hover {
    text-decoration: none;
    color: var(--azulEscuro);
    background-color: var(--azulMedio);
    border-radius: 4px;
}

body {
    background-color: var(--cinza);
}

footer {
    background-color: var(--azulEscuro);
    color: var(--azulMedio);
}
 
footer > p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--azulMedio);
    margin-top: 15px;
}


p {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    color: var(--azulEscuro);
    margin-top: 15px;
    margin-bottom: 15px;
} 

h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    color: var(--azulEscuro);
}
.fortalezaSemIMG {
    margin-bottom: 30px;
}

/*imagens*/
.sp {
    background-image: url(../img/saoPaulo.jpg);
    width: 100%;
    height: 500px;
        /*backgoud imagens*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.rio {
    background-image: url(../img/rioDeJaneiro.jpg);
    width: 100%;
    height: 500px;
        /*backgoud imagens*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brasilia {
    background-image: url(../img/brasilia.jpg);
    width: 100%;
    height: 500px;
        /*backgoud imagens*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.salvador {
    background-image: url(../img/salvador.jpg);
    width: 100%;
    height: 500px;
        /*backgoud imagens*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fortaleza {
    background-image: url(../img/fortaleza.jpg);
    width: 100%;
    height: 500px;
        /*backgoud imagens*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}